@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTS75F.ttf");
}

body {
  width: 1024px;
  height: 748px;
  border-top: 20px solid #000;
  margin: 0 auto 0;
  position: fixed;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: url("../img/background.jpg") no-repeat;  -webkit-background-size: 1024px 768px; background-size: 1024px 768px;
}
.app { height: 748px;}

/* Header */
.header { z-index: 20; position: relative; top: 0px; left: 0px; width: 1024px; height: 50px; }
.header nav .menu {cursor: pointer; width: 1024px; height: 50px; background: url("../img/menu.png") no-repeat; -webkit-background-size: 1024px 50px; background-size: 1024px 50px;}

.header [data-target-id="domu"] { position: absolute; top:0px; left: 0px; width: 128px; height: 50px;}

.header [data-target-id="co-je-to-targin"] { position: absolute; top:0px; left: 128px;  width: 128px; height: 50px;}
.header [data-target-id="co-je-to-targin"].active { background: url("../img/co-je-to-targin_active.png") no-repeat;  -webkit-background-size: 128px 50px; background-size: 128px 50px; }

.header [data-target-id="moa"] { position: absolute; top:0px; left: 256px;  width: 128px; height: 50px;}
.header [data-target-id="moa"].active { background: url("../img/moa_active.png") no-repeat;  -webkit-background-size: 128px 50px; background-size: 128px 50px; }

.header [data-target-id="analgeticka-ucinnost"] { position: absolute; top:0px; left: 384px;  width: 128px; height: 50px;}
.header [data-target-id="analgeticka-ucinnost"].active { background: url("../img/analgeticka-ucinnost_active.png") no-repeat;  -webkit-background-size: 128px 50px; background-size: 128px 50px; }

.header [data-target-id="setrnost"] { position: absolute; top:0px; left: 511px;  width: 128px; height: 50px;}
.header [data-target-id="setrnost"].active { background: url("../img/setrnost_active.png") no-repeat;  -webkit-background-size: 128px 50px; background-size: 128px 50px; }

.header [data-target-id="indikacni-omezeni"] { position: absolute; top:0px; left: 639px;  width: 128px; height: 50px;}
.header [data-target-id="indikacni-omezeni"].active { background: url("../img/indikacni-omezeni_active.png") no-repeat;  -webkit-background-size: 128px 50px; background-size: 128px 50px; }

.header [data-target-id="preskripce"] { position: absolute; top:0px; left: 767px;  width: 128px; height: 50px;}
.header [data-target-id="preskripce"].active { background: url("../img/preskripce_active.png") no-repeat;  -webkit-background-size: 128px 50px; background-size: 128px 50px; }

.header .ostatni { position: absolute; top: 0px; right: 0px; width: 129px; height: 50px; cursor: pointer; }
.header .ostatni .arrow { position: absolute; top: 0px; right: 0px; width: 129px; height: 50px; background: url("../img/ostatni_open.png") no-repeat; -webkit-background-size: 129px 50px; background-size: 129px 50px; }
.header .ostatni.open .arrow { position: absolute; top: 0px; right: 0px; width: 129px; height: 50px; background: url("../img/ostatni_close.png") no-repeat; -webkit-background-size: 129px 50px; background-size: 129px 50px; }
.header .ostatni.active { background: url("../img/ostatni_active.png") no-repeat; -webkit-background-size: 129px 50px; background-size: 129px 50px; }
.header .ostatni-submenu { position: absolute; top:0; left:0; display: none; width: 129px;height: 99px; }
.header .ostatni-submenu [data-target-id="reprinty"] { position: absolute;  top: 50px; width: 129px; height: 49px; background: url("../img/reprinty_open.png") no-repeat;  -webkit-background-size: 129px 49px; background-size: 129px 49px; }
.header .ostatni-submenu [data-target-id="reprinty"].active { position: absolute;  top: 50px; left: 0px; width: 129px; height: 49px; background: url("../img/reprinty_active.png") no-repeat;  -webkit-background-size: 129px 49px; background-size: 129px 49px; }

.pages { position: relative; width: 1024px; height: 698px;}

.pages .arrow-left { position: absolute; top: 300px; left: 12px; width: 40px; height: 40px; background: url("../img/arrow_left.png") no-repeat; -webkit-background-size: 40px 40px; background-size: 40px 40px; cursor: pointer; }
.pages .arrow-right { position: absolute; top: 300px; right: 12px; width: 40px; height: 40px; background: url("../img/arrow_right.png") no-repeat; -webkit-background-size: 40px 40px; background-size: 40px 40px; cursor: pointer;}
.popup {  z-index: 1102; display: none; position: absolute; left: 35px; top: 0px; width: 954px; height: 530px; }
.close-popup { z-index: 1104; position: absolute; top: 8px; right: 16px; width: 44px; height: 44px; }

.reference { display: none; z-index: 1102; position: absolute; left: 512px; bottom: 50px; width: 447px; height: 230px; }
.reference .close-reference { position: absolute; right: 46px; top: 38px; width: 40px; height: 40px; }


#slides { display: none; z-index: 1102; position: absolute; left: 0px; bottom: 48px; width: 1024px; height: 253px; background: url("../img/slides.png") no-repeat;  -webkit-background-size: 1024px 253px; background-size: 1024px 253px;}
#slides .slide-nav { position: absolute; top: 58px; left: 78px; width: 812px; height: 90px; overflow: hidden; }
#slides .slide-nav #carousel { width: 784px;  overflow: hidden; }
#slides .slide-nav ul { position: relative; padding: 0; margin: 0; }
#slides .slide-nav ul li { position: relative; cursor: pointer; float: left; list-style: none; margin-left: 19px; width: 137px; height: 90px;}
#slides .slide-nav ul li span.thumb { position: absolute; width: 135px; height:88px; border: 1px solid #254668; border-radius: 8px; }
#slides [data-target-id="slides-close"] { position: absolute; top: 40px; right: 42px; width: 54px; height: 130px; cursor: pointer; }

.footer { /*z-index: 1110;  */position: absolute; bottom: 0px; left: 27px; width: 970px; height: 72px; background:  url("../img/footer_menu.png") no-repeat;  -webkit-background-size: 970px 72px; background-size: 970px 72px;}
.footer [data-target-id="slides"] { position: absolute; bottom: 0px; left: 190px; width: 148px; height: 72px; }
.footer [data-target-id="reload"] { position: absolute; bottom: 0px; left: 338px; width: 146px; height: 72px; }
.footer [data-target-id="ziop"] { position: absolute; bottom: 0px; left: 486px; width: 146px; height: 72px; }
.footer [data-target-id="references"] { position: absolute; bottom: 0px; left: 634px; width: 148px; height: 72px; }

#ziop_spc { display: none; z-index: 1102; position: absolute; left: 482px; top: 532px; width: 204px; height: 155px; background: url("../img/ziop_spc.png") no-repeat;  -webkit-background-size: 204px 155px; background-size: 204px 155px;}
#ziop_spc [data-popup-id="ziop"] { position: absolute; left: 30px; top: 30px; width: 72px; height: 64px; cursor: pointer; }
#ziop_spc [data-target-id="global-spc"] { position: absolute; right: 30px; top: 30px; width: 72px; height: 64px; cursor: pointer; }


.page { display: none; width: 1024px; height: 698px;}

/* Pages */
/* Domu */
#domu .body-image { position: absolute; left: 160px; top: 52px; width: 704px; height: 527px; background: url("../img/domu_body.png") no-repeat; -webkit-background-size: 704px 527px; background-size: 704px 527px; }
#domu #swiffycontainer { position: absolute; left: 170px; top: 12px; width: 720px; height: 482px; }
#domu .code { position: absolute; left: 820px; bottom: 6px; width: 81px; height: 16px; background: url("../img/code.png") no-repeat; -webkit-background-size: 81px 16px; background-size: 81px 16px; }

/* Co je to targin ? */
#co-je-to-targin .body-image { position: absolute; left: 132px; top: 10px; width: 838px; height: 579px; background: url("../img/co-je-to-targin_body.png") no-repeat; -webkit-background-size: 838px 579px; background-size: 838px 579px; }
#co-je-to-targin .reference { background: url("../img/co-je-to-targin_reference.png") no-repeat; -webkit-background-size: 447px 230px; background-size: 447px 230px; }
#co-je-to-targin .next { position: absolute; left: 120px; top: 330px; width: 118px; height: 116px; background: url("../img/co-je-to-targin_next.png") no-repeat; -webkit-background-size: 118px 116px; background-size: 118px 116px; cursor: pointer; }
#co-je-to-targin .text1 { display: none; position: absolute; left: 0px; top: 266px; width: 366px; height: 233px; background: url("../img/co-je-to-targin_text1.png") no-repeat; -webkit-background-size: 366px 233px; background-size: 366px 233px; }
#co-je-to-targin .text2 { display: none; position: absolute; left: 388px; top: 266px; width: 366px; height: 233px; background: url("../img/co-je-to-targin_text2.png") no-repeat; -webkit-background-size: 366px 233px; background-size: 366px 233px; }

/* MOA */
#moa .body-image { position: absolute; left: 132px; top: 10px; width: 838px; height: 579px; background: url("../img/moa_body.png") no-repeat; -webkit-background-size: 838px 579px; background-size: 838px 579px; }
#moa .reference { background: url("../img/moa_reference.png") no-repeat; -webkit-background-size: 447px 230px; background-size: 447px 230px; }
#moa .box { position: absolute; left: 95px; top: 142px; width: 833px; height: 376px;  }
#moa .box .b { position: absolute; top: 128px; width: 42px; height: 42px; cursor: pointer; }
#moa .box img { position: absolute; left: 284px; top: 20px;  }
#moa .box .text { position: absolute; left: 0; bottom: 0px; width: 833px; height: 376px; }
#moa .box1 { }
#moa .box1 .b2 { left: 606px; }
#moa .box1 .b3 { left: 682px; }
#moa .box1 .b4 { left: 758px; }
#moa .box1 .text { background: url("../img/moa_box1.png") no-repeat; -webkit-background-size: 833px 376px; background-size: 833px 376px; }
#moa .box2 { display: none; }
#moa .box2 .b1 { left: 192px; }
#moa .box2 .b3 { left: 606px; }
#moa .box2 .b4 { left: 682px; }
#moa .box2 .text { background: url("../img/moa_box2.png") no-repeat; -webkit-background-size: 833px 376px; background-size: 833px 376px; }
#moa .box3 { display: none; }
#moa .box3 .b1 { left: 114px; }
#moa .box3 .b2 { left: 192px; }
#moa .box3 .b4 { left: 606px; }
#moa .box3 .text { background: url("../img/moa_box3.png") no-repeat; -webkit-background-size: 833px 376px; background-size: 833px 376px; }
#moa .box4 { display: none; }
#moa .box4 .b1 { left: 38px; }
#moa .box4 .b2 { left: 114px; }
#moa .box4 .b3 { left: 192px; }
#moa .box4 img {  left: 318px; }
#moa .box4 .text { background: url("../img/moa_box4.png") no-repeat; -webkit-background-size: 833px 376px; background-size: 833px 376px; }

/* Analgeticka ucinnost */
/* Analgeticka ucinnost 1 */
#analgeticka-ucinnost .body-image { position: absolute; left: 132px; top: 10px; width: 838px; height: 550px; background: url("../img/analgeticka-ucinnost_body.png") no-repeat; -webkit-background-size: 838px 550px; background-size: 838px 550px; }
#analgeticka-ucinnost [data-popup-id="popup-analgeticka-ucinnost"] { position: absolute; left: 618px; top: 432px; width: 120px; height: 118px; cursor: pointer; }
#analgeticka-ucinnost #popup-analgeticka-ucinnost { position: absolute; left: 12px; top: 36px; width: 1000px; height: 594px; background: url("../img/analgeticka-ucinnost_popup.png") no-repeat; -webkit-background-size: 1000px 594px; background-size: 1000px 594px; }
#analgeticka-ucinnost #popup-analgeticka-ucinnost .close-popup { right: 58px; top: 46px;}
#analgeticka-ucinnost .reference { left: 470px; width: 530px; height: 273px; background: url("../img/analgeticka-ucinnost_reference.png") no-repeat; -webkit-background-size: 530px 273px; background-size: 530px 273px; }

/* Analgeticka ucinnost 2 */
#analgeticka-ucinnost-2 .body-image { position: absolute; left: 132px; top: 10px; width: 838px; height: 418px; background: url("../img/analgeticka-ucinnost-2_body.png") no-repeat; -webkit-background-size: 838px 418px; background-size: 838px 418px; }
#analgeticka-ucinnost-2 .reference { left: 470px; width: 530px; height: 273px; background: url("../img/analgeticka-ucinnost-2_reference.png") no-repeat; -webkit-background-size: 530px 273px; background-size: 530px 273px; }

/* Analgeticka ucinnost 3 */
#analgeticka-ucinnost-3 .body-image { position: absolute; left: 132px; top: 10px; width: 840px; height: 565px; background: url("../img/analgeticka-ucinnost-3_body.png") no-repeat; -webkit-background-size: 840px 565px; background-size: 840px 565px; }
#analgeticka-ucinnost-3 .text1 { display: none; position: absolute; left: 0px; top: 144px; width: 384px; height: 317px; background: url("../img/analgeticka-ucinnost-3_text1.png") no-repeat bottom; -webkit-background-size: 384px 317px; background-size: 384px 317px; }
#analgeticka-ucinnost-3 .text2 { display: none; position: absolute; left: 398px; top: 144px; width: 386px; height: 317px; background: url("../img/analgeticka-ucinnost-3_text2.png") no-repeat bottom; -webkit-background-size: 386px 317px; background-size: 386px 317px; }
#analgeticka-ucinnost-3 .b1 { position: absolute; left: 0px; top: 144px; width: 386px; height: 66px; cursor: pointer;}
#analgeticka-ucinnost-3 .b2 { position: absolute; left: 398px; top: 144px; width: 386px; height: 66px; cursor: pointer;}
#analgeticka-ucinnost-3 .reference { left: 23px; width: 978px; height: 594px; background: url("../img/analgeticka-ucinnost-3_reference.png") no-repeat; -webkit-background-size: 978px 594px; background-size: 978px 594px; }
#analgeticka-ucinnost-3 .reference .close-reference{ top: 50px; right: 60px; }

/* Analgeticka ucinnost 4 */
#analgeticka-ucinnost-4 .body-image { position: absolute; left: 132px; top: 10px; width: 840px; height: 343px; background: url("../img/analgeticka-ucinnost-4_body.png") no-repeat; -webkit-background-size: 840px 343px; background-size: 840px 343px; }
#analgeticka-ucinnost-4 .text1 { display: none; position: absolute; left: 0px; top: 130px; width: 774px; height: 143px; background: url("../img/analgeticka-ucinnost-4_text1.png") no-repeat bottom; -webkit-background-size: 774px 143px; background-size: 774px 143px; }
#analgeticka-ucinnost-4 .text2 { display: none; position: absolute; left: 0px; top: 299px; width: 774px; height: 195px; background: url("../img/analgeticka-ucinnost-4_text2.png") no-repeat bottom; -webkit-background-size: 774px 195px; background-size: 774px 195px; }
#analgeticka-ucinnost-4 .b1 { position: absolute; left: 0px; top: 130px; width: 774px; height: 42px; cursor: pointer;}
#analgeticka-ucinnost-4 .b2 { position: absolute; left: 0px; top: 299px; width: 774px; height: 42px; cursor: pointer;}
#analgeticka-ucinnost-4 .reference { height: 248px; background: url("../img/analgeticka-ucinnost-4_reference.png") no-repeat; -webkit-background-size: 447px 248px; background-size: 447px 248px; }

/* Analgeticka ucinnost 5 */
#analgeticka-ucinnost-5 .body-image { position: absolute; left: 132px; top: 10px; width: 969px; height: 576px; background: url("../img/analgeticka-ucinnost-5_body.png") no-repeat; -webkit-background-size: 969px 576px; background-size: 969px 576px; }
#analgeticka-ucinnost-5 .body-image.final {  height: 581px; background: url("../img/analgeticka-ucinnost-5_body2.png") no-repeat; -webkit-background-size: 969px 581px; background-size: 969px 581px; }
#analgeticka-ucinnost-5 [data-popup-id="popup-analgeticka-ucinnost5"] { position: absolute; left: 696px; top: 166px; width: 120px; height: 118px; cursor: pointer; }
#analgeticka-ucinnost-5 #popup-analgeticka-ucinnost5 { position: absolute; left: 53px; top: 58px; width: 917px; height: 510px; background: url("../img/analgeticka-ucinnost-5_popup.png") no-repeat; -webkit-background-size: 917px 510px; background-size: 917px 510px; }
#analgeticka-ucinnost-5 #popup-analgeticka-ucinnost5 .graph-red { position: absolute; left: 72px; top: 282px; width: 0px; height: 37px; background: url("../img/analgeticka-ucinnost-5_red.png") no-repeat left; -webkit-background-size: 396px 37px; background-size: 396px 37px; }
#analgeticka-ucinnost-5 #popup-analgeticka-ucinnost5 .graph-blue { position: absolute; left: 72px; top: 286px; width: 0px; height: 34px; background: url("../img/analgeticka-ucinnost-5_blue.png") no-repeat left; -webkit-background-size: 396px 34px; background-size: 396px 34px; }
#analgeticka-ucinnost-5 #popup-analgeticka-ucinnost5 .graph-orange { position: absolute; left: 456px; top: 292px; width: 0px; height: 30px; background: url("../img/analgeticka-ucinnost-5_orange.png") no-repeat left; -webkit-background-size: 444px 30px; background-size: 444px 30px; }
#analgeticka-ucinnost-5 #popup-analgeticka-ucinnost5 .graph-orange-text { display: none; position: absolute; left: 572px; top: 142px; width: 240px; height: 25px; background: url("../img/analgeticka-ucinnost-5_orange_text.png") no-repeat; -webkit-background-size: 240px 25px; background-size: 240px 25px; }
#analgeticka-ucinnost-5 #popup-analgeticka-ucinnost5 .next { position: absolute; left: 638px; top: 196px; width: 118px; height: 116px; background: url("../img/analgeticka-ucinnost-5_next.png") no-repeat; -webkit-background-size: 118px 116px; background-size: 118px 116px; cursor: pointer; }
#analgeticka-ucinnost-5 .reference { height: 320px; background: url("../img/analgeticka-ucinnost-5_reference.png") no-repeat; -webkit-background-size: 447px 320px; background-size: 447px 320px; }

/* Setrnost */
/* Setrnost 1 */
#setrnost .body-image { position: absolute; left: 132px; top: 10px; width: 967px; height: 582px; background: url("../img/setrnost_body.png") no-repeat; -webkit-background-size: 967px 582px; background-size: 967px 582px; }
#setrnost .body-image.final {  height: 582px; background: url("../img/setrnost_body2.png") no-repeat; -webkit-background-size: 967px 582px; background-size: 967px 582px; }
#setrnost [data-popup-id="popup-setrnost"] { position: absolute; left: 342px; top: 212px; width: 120px; height: 118px; cursor: pointer; }
#setrnost #popup-setrnost { position: absolute; left: 35px; top: 58px; width: 954px; height: 510px; background: url("../img/setrnost_popup.png") no-repeat; -webkit-background-size: 954px 510px; background-size: 954px 510px; }
#setrnost #popup-setrnost .arrow { position: absolute; top: 380px; width: 19px; height: 21px; background: url("../img/setrnost-3_arrow-up.png") no-repeat; -webkit-background-size: 19px 21px; background-size: 19px 21px; }
#setrnost #popup-setrnost .arrow.first { left: 109px;  }
#setrnost #popup-setrnost .arrow.second { left: 205px;  }
#setrnost #popup-setrnost .arrow.third { left: 463px;  }

#setrnost #popup-setrnost .graph-overlay { width: 428px; height: 310px; left: 74px; margin: 0;padding: 0; position: absolute;top: 130px;display:none; }
#setrnost #popup-setrnost .next { position: absolute; left: 666px; top: 196px; width: 118px; height: 116px; background: url("../img/analgeticka-ucinnost-5_next.png") no-repeat; -webkit-background-size: 118px 116px; background-size: 118px 116px; cursor: pointer; }
#setrnost #popup-setrnost .graph { position: absolute; left: 74px; top: 246px; width: 0px; height: 137px; background: url("../img/setrnost_graph.png") no-repeat left; -webkit-background-size: 861px 137px; background-size: 861px 137px; }
#setrnost #popup-setrnost .graph-text { display: none; position: absolute; left: 584px; top: 162px; width: 259px; height: 25px; background: url("../img/setrnost_graph-text.png") no-repeat left; -webkit-background-size: 259px 25px; background-size: 259px 25px; }

#setrnost .reference { height: 387px; background: url("../img/setrnost_reference.png") no-repeat; -webkit-background-size: 447px 387px; background-size: 447px 387px; }

/* Setrnost 2 */
#setrnost-2 .body-image { position: absolute; left: 132px; top: 10px; width: 967px; height: 582px; background: url("../img/setrnost-2_body.png") no-repeat; -webkit-background-size: 967px 582px; background-size: 967px 582px; }
#setrnost-2 .body-image.final {  height: 582px; background: url("../img/setrnost-2_body2.png") no-repeat; -webkit-background-size: 967px 582px; background-size: 967px 582px; }
#setrnost-2 [data-popup-id="popup-setrnost2"] { position: absolute; left: 330px; top: 220px; width: 120px; height: 118px; cursor: pointer; }
#setrnost-2 #popup-setrnost2 { position: absolute; left: 35px; top: 58px; width: 954px; height: 493px; background: url("../img/setrnost-2_popup.png") no-repeat; -webkit-background-size: 954px 493px; background-size: 954px 493px; }
#setrnost-2 #popup-setrnost2 .next { position: absolute; left: 642px; top: 434px; width: 118px; height: 116px; background: url("../img/setrnost-2_next.png") no-repeat; -webkit-background-size: 118px 116px; background-size: 118px 116px; cursor: pointer; }
#setrnost-2 #popup-setrnost2 .final-graph { z-index: 3; position: absolute; left: 108px; bottom: 111px; width: 798px; height: 0px; background: url("../img/setrnost-2_final-graph.png") no-repeat; -webkit-background-size: 798px 225px; background-size: 798px 225px; }
#setrnost-2 #popup-setrnost2 .numbers { display: none; position: absolute; left: 130px; top: 104px; width: 760px; height: 40px; background: url("../img/setrnost-2_numbers.png") no-repeat; -webkit-background-size: 760px 40px; background-size: 760px 40px; }

#setrnost-2 #popup-setrnost2 .bar canvas { bottom: 111px; position: absolute; z-index: 2; }
#setrnost-2 #popup-setrnost2 input { display: none;}
#setrnost-2 #popup-setrnost2 .bcg { bottom: 111px; width: 47px; height: 272px; overflow: hidden; position: absolute; z-index: 1; }
#setrnost-2 #popup-setrnost2 .bcg .arrow { position: absolute; left: 14px;  width: 19px; height: 21px; background: url("../img/setrnost-2_arrow_down_800ms.gif") no-repeat; -webkit-background-size: 19px 21px; background-size: 19px 21px; }
#setrnost-2 #popup-setrnost2 .bcg .image { position: absolute; bottom: 0px; width: 47px; height: 272px; height: 0px; background: url("../img/setrnost-2_column.png") no-repeat; -webkit-background-size: 47px 272px; background-size: 47px 272px; }

#setrnost-2 #popup-setrnost2 .bcg.first { left: 178px;}
#setrnost-2 #popup-setrnost2 .bcg.first .image { height: 163px; }
#setrnost-2 #popup-setrnost2 .bcg.first .arrow { bottom: 183px; }
#setrnost-2 #popup-setrnost2 .bar.first canvas {  left: 178px;  }

#setrnost-2 #popup-setrnost2 .bcg.second { left: 304px;}
#setrnost-2 #popup-setrnost2 .bcg.second .image { height: 185px; }
#setrnost-2 #popup-setrnost2 .bcg.second .arrow { bottom: 205px; }
#setrnost-2 #popup-setrnost2 .bar.second canvas {  left: 304px;  }

#setrnost-2 #popup-setrnost2 .bcg.third { left: 440px;}
#setrnost-2 #popup-setrnost2 .bcg.third .image { height: 150px; }
#setrnost-2 #popup-setrnost2 .bcg.third .arrow { bottom: 170px; }
#setrnost-2 #popup-setrnost2 .bar.third canvas {  left: 440px;  }

#setrnost-2 #popup-setrnost2 .bcg.fourth { left: 578px;}
#setrnost-2 #popup-setrnost2 .bcg.fourth .image { height: 199px; }
#setrnost-2 #popup-setrnost2 .bcg.fourth .arrow { bottom: 219px; }
#setrnost-2 #popup-setrnost2 .bar.fourth canvas {  left: 578px;  }

#setrnost-2 #popup-setrnost2 .bcg.fifth { left: 716px;}
#setrnost-2 #popup-setrnost2 .bcg.fifth .image { height: 209px; }
#setrnost-2 #popup-setrnost2 .bcg.fifth .arrow { bottom: 229px; }
#setrnost-2 #popup-setrnost2 .bar.fifth canvas {  left: 716px;  }

#setrnost-2 #popup-setrnost2 .bcg.sixth { left: 852px;}
#setrnost-2 #popup-setrnost2 .bcg.sixth .image { height: 150px; }
#setrnost-2 #popup-setrnost2 .bcg.sixth .arrow { bottom: 170px; }
#setrnost-2 #popup-setrnost2 .bar.sixth canvas {  left: 852px;  }

#setrnost-2 .reference { height: 294px; background: url("../img/setrnost-2_reference.png") no-repeat; -webkit-background-size: 447px 294px; background-size: 447px 294px; }

/* Setrnost 3 */
#setrnost-3 .body-image { position: absolute; left: 132px; top: 10px; width: 968px; height: 582px; background: url("../img/setrnost-3_body.png") no-repeat; -webkit-background-size: 968px 582px; background-size: 968px 582px; }
#setrnost-3 .body-image.final {  height: 581px; background: url("../img/setrnost-3_body2.png") no-repeat; -webkit-background-size: 967px 581px; background-size: 967px 581px; }
#setrnost-3 [data-popup-id="popup-setrnost3"] { position: absolute; left: 332px; top: 254px; width: 120px; height: 118px; cursor: pointer; }
#setrnost-3 #popup-setrnost3 { position: absolute; left: 35px; top: 58px; width: 954px; height: 493px; background: url("../img/setrnost-3_popup.png") no-repeat; -webkit-background-size: 954px 493px; background-size: 954px 493px; }
#setrnost-3 #popup-setrnost3 .next { position: absolute; left: 816px; top: 432px; width: 118px; height: 116px; background: url("../img/setrnost-2_next.png") no-repeat; -webkit-background-size: 118px 116px; background-size: 118px 116px; cursor: pointer; }
#setrnost-3 #popup-setrnost3 .final-graph { z-index: 3; position: absolute; left: 118px; top: 132px; width: 801px; height: 218px; background: url("../img/setrnost-3_final-graph.png") no-repeat bottom; -webkit-background-size: 801px 218px; background-size: 801px 218px;  }
#setrnost-3 #popup-setrnost3 .numbers { display: none; position: absolute; left: 136px; top: 368px; width: 760px; height: 40px; background: url("../img/setrnost-3_numbers.png") no-repeat; -webkit-background-size: 760px 40px; background-size: 760px 40px;  }

#setrnost-3 #popup-setrnost3 .bar canvas { top: 132px; position: absolute; z-index: 2; }
#setrnost-3 #popup-setrnost3 input { display: none;}
#setrnost-3 #popup-setrnost3 .bcg { top: 132px; width: 47px; height: 272px; overflow: hidden; position: absolute; z-index: 1; }
#setrnost-3 #popup-setrnost3 .bcg .arrow { position: absolute; left: 14px;  width: 19px; height: 21px; background: url("../img/setrnost-3_arrow_up_800ms.gif") no-repeat; -webkit-background-size: 19px 21px; background-size: 19px 21px; }
#setrnost-3 #popup-setrnost3 .bcg .image { position: absolute; top: 0px; width: 47px; height: 272px; height: 0px; background: url("../img/setrnost-3_column.png") no-repeat bottom; -webkit-background-size: 47px 272px; background-size: 47px 272px; }

#setrnost-3 #popup-setrnost3 .bcg.first { left: 190px;}
#setrnost-3 #popup-setrnost3 .bcg.first .image { height: 172px; }
#setrnost-3 #popup-setrnost3 .bcg.first .arrow { top: 192px; }
#setrnost-3 #popup-setrnost3 .bar.first canvas {  left: 190px;  }

#setrnost-3 #popup-setrnost3 .bcg.second { left: 326px;}
#setrnost-3 #popup-setrnost3 .bcg.second .image { height: 156px; }
#setrnost-3 #popup-setrnost3 .bcg.second .arrow { top: 176px; }
#setrnost-3 #popup-setrnost3 .bar.second canvas {  left: 326px;  }

#setrnost-3 #popup-setrnost3 .bcg.third { left: 462px;}
#setrnost-3 #popup-setrnost3 .bcg.third .image { height: 188px; }
#setrnost-3 #popup-setrnost3 .bcg.third .arrow { top: 208px; }
#setrnost-3 #popup-setrnost3 .bar.third canvas {  left: 462px;  }

#setrnost-3 #popup-setrnost3 .bcg.fourth { left: 596px;}
#setrnost-3 #popup-setrnost3 .bcg.fourth .image { height: 156px; }
#setrnost-3 #popup-setrnost3 .bcg.fourth .arrow { top: 176px; }
#setrnost-3 #popup-setrnost3 .bar.fourth canvas {  left: 596px;  }

#setrnost-3 #popup-setrnost3 .bcg.fifth { left: 732px;}
#setrnost-3 #popup-setrnost3 .bcg.fifth .image { height: 174px; }
#setrnost-3 #popup-setrnost3 .bcg.fifth .arrow { top: 194px; }
#setrnost-3 #popup-setrnost3 .bar.fifth canvas {  left: 732px;  }

#setrnost-3 #popup-setrnost3 .bcg.sixth { left: 866px;}
#setrnost-3 #popup-setrnost3 .bcg.sixth .image { height: 182px; }
#setrnost-3 #popup-setrnost3 .bcg.sixth .arrow { top: 202px; }
#setrnost-3 #popup-setrnost3 .bar.sixth canvas {  left: 866px;  }

#setrnost-3 .reference { height: 294px; background: url("../img/setrnost-3_reference.png") no-repeat; -webkit-background-size: 447px 294px; background-size: 447px 294px; }


/* Indikacni omezeni */
/* Indikacni omezeni 1 */
#indikacni-omezeni .body-image { position: absolute; left: 132px; top: 10px; width: 838px; height: 585px; background: url("../img/indikacni-omezeni_body.png") no-repeat; -webkit-background-size: 838px 585px; background-size: 838px 585px; }
#indikacni-omezeni .next { position: absolute; left: 458px; top: 316px; width: 118px; height: 116px; background: url("../img/indikacni-omezeni_next.png") no-repeat; -webkit-background-size: 118px 116px; background-size: 118px 116px; cursor: pointer; }
#indikacni-omezeni .text { display: none; position: absolute; left: 130px; top: 294px; width: 774px; height: 208px; background: url("../img/indikacni-omezeni_text.png") no-repeat; -webkit-background-size: 774px 208px; background-size: 774px 208px; }
#indikacni-omezeni .reference { background: url("../img/indikacni-omezeni_reference.png") no-repeat; -webkit-background-size: 447px 230px; background-size: 447px 230px; }

/* Indikacni omezeni 2 */
#indikacni-omezeni-2 .body-image { position: absolute; left: 132px; top: 10px; width: 838px; height: 585px; background: url("../img/indikacni-omezeni-2_body.png") no-repeat; -webkit-background-size: 838px 585px; background-size: 838px 585px; }
#indikacni-omezeni-2 .reference { height: 320px; background: url("../img/indikacni-omezeni-2_reference.png") no-repeat; -webkit-background-size: 447px 320px; background-size: 447px 320px; }

/* Preskripce */
/* Preskripce 1 */
#preskripce .body-image { position: absolute; left: 130px; top: 10px; width: 843px; height: 362px; background: url("../img/preskripce_body.png") no-repeat; -webkit-background-size: 843px 362px; background-size: 843px 362px; }
#preskripce .next { position: absolute; left: 458px; top: 316px; width: 118px; height: 116px; background: url("../img/preskripce_next.png") no-repeat; -webkit-background-size: 118px 116px; background-size: 118px 116px; cursor: pointer; }
#preskripce .text { display: none; position: absolute; left: 130px; top: 148px; width: 761px; height: 224px; background: url("../img/preskripce_text.png") no-repeat; -webkit-background-size: 761px 224px; background-size: 761px 224px; }
#preskripce .reference { background: url("../img/preskripce_reference.png") no-repeat; -webkit-background-size: 447px 230px; background-size: 447px 230px; }

/* Preskripce 2 */
#preskripce-2 .body-image { position: absolute; left: 130px; top: 10px; width: 843px; height: 569px; background: url("../img/preskripce-2_body.png") no-repeat; -webkit-background-size: 843px 569px; background-size: 843px 569px; }
#preskripce-2 [data-popup-id="popup-preskripce2"] { position: absolute; left: 832px; top: 462px; width: 120px; height: 118px; cursor: pointer; }
#preskripce-2 #popup-preskripce2 { position: absolute; background: url("../img/preskripce-2_popup.png") no-repeat; -webkit-background-size: 954px 530px; background-size: 954px 530px; }
#preskripce-2 .reference { height: 248px; background: url("../img/preskripce-2_reference.png") no-repeat; -webkit-background-size: 447px 248px; background-size: 447px 248px; }

/* Preskripce 3 */
#preskripce-3 .body-image { position: absolute; left: 2px; top: 10px; width: 1056px; height: 570px; background: url("../img/preskripce-3_body.png") no-repeat; -webkit-background-size: 1056px 570px; background-size: 1056px 570px; }

/* Preskripce 4 */
#preskripce-4 .body-image { position: absolute; left: 135px; top: 10px; width: 838px; height: 493px; background: url("../img/preskripce-4_body.png") no-repeat; -webkit-background-size: 838px 493px; background-size: 838px 493px; }
#preskripce-4 .reference { left: initial; right: 24px; width: 978px; height: 722px; background: url("../img/preskripce-4_reference.png") no-repeat; -webkit-background-size: 978px 722px; background-size: 978px 722px; }

/* Ostatni */
/* Reference*/
#reprinty .body-image { position: absolute; left: 132px; top: 10px; width: 838px; height: 557px; background: url("../img/reprinty_body.png") no-repeat; -webkit-background-size: 838px 557px; background-size: 838px 557px; }
#reprinty .first { position: absolute; left: 170px; top: 90px; width: 674px; height: 166px;}
#reprinty .second { position: absolute; left: 170px; top: 258px; width: 674px; height: 166px;}
#reprinty .third { position: absolute; left: 170px; top: 428px; width: 674px; height: 166px;}


#ziop { position: absolute; left: 0; top: 94px; width: 1024px; height: 613px; background: url("../img/ziop_popup.png") no-repeat; -webkit-background-size: 1024px 613px; background-size: 1024px 613px; }
#ziop .send-email { position: absolute; top: 424px; right: 60px; width: 40px; height: 40px; cursor: pointer;}
#ziop .close-popup { top: 46px; right: 56px; }


#external-content { z-index: 2200; display: none; position: absolute; left: 0px; top: 0px; width: 1024px; height: 748px; background-color: #fff;}
#external-content .content { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; overflow: auto; -webkit-overflow-scrolling: touch; overflow-x: hidden;}
#external-content object { position: absolute; left: 0px; top: 0px; overflow: overlay;}
#external-content .button  { z-index: 2201; cursor: pointer; position: absolute; left: 10px; top: 10px; width: 100px; height: 37px; background: url("../img/back_uni.png") no-repeat;  -webkit-background-size: 100px 37px; background-size: 100px 37px; }


#overlay { position: fixed; top: 0; left: 0; opacity: .80 !important; filter: Alpha(Opacity=80) !important; display: none; width: 150%; height: 100%; z-index: 1101; background: #000000; font-family: "NimbusSanDEECon";}

.chart5Div {
    border-radius: 0 0 4px 4px;
    left: 74px;
    position: absolute;
    top: 130px;
    width: 428px;
    height: 310px;
    background-color: transparent;
    padding-left: 0px;
}


#pdf { z-index: 2200; display: none; position: absolute; left: 0px; top: 0px; width: 1024px; height: 768px; background-color: #fff;}
#pdf .content { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; overflow: auto; -webkit-overflow-scrolling: touch;}
#pdf object { position: absolute; left: 0px; top: 0px; overflow: overlay; width: 1024px; }
#pdf .button  { z-index: 2201; cursor: pointer; position: absolute; left: 10px; top: 10px; width: 100px; height: 37px; background: url("../img/back_uni.png") no-repeat;  -webkit-background-size: 100px 37px; background-size: 100px 37px; }

    
    